* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: 'Lato', sans-serif;
}
p {
  font-size: 1.6rem;
}
h2 {
  font-size: 3.6rem;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: 0;
  background-color: #262749;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  position: fixed;
  z-index: 999;
  margin-top: 0;
  width: 85%;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 20px;
  padding-left: 20px;
}
.nav__child {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.nav__child__two {
  width: 40%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.nav__child__link {
  align-content: center;
  padding: 0 5px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: 2.1rem;
  padding-top: 1px;
  font-weight: 400;
}
.nav__child__link:hover {
  background: #A9AFD5;
  color: #262749;
}
.header {
  background-image: url("../images/architecture-beautiful-exterior.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: center top, 50% 113%;
}
.header__text {
  font-size: 5.2rem;
  color: white;
  position: absolute;
  top: 620px;
  left: 645px;
}
.header__button {
  color: white;
  position: absolute;
  top: 684px;
  left: 49%;
  transform: translateX(-50%);
  width: 250px;
  height: 60px;
  background: white;
  color: #262749;
  font-weight: 900;
  border-radius: 10px;
  font-size: 3rem;
  border-color: #95813B;
}
.header__button:hover {
  background: #262749;
  color: white;
  cursor: pointer;
}
.quotes {
  background-image: url('../images/blue-brick-wall-chair.jpg');
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  display: flex;
  position: relative;
}
.quotes__box {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
.quotes__box__child {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  text-align: center;
  background: #D3DCEC;
  width: 30%;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #262749;
}
.quotes__box__child__p {
  font-size: 2rem;
  padding: 0 4px;
}
.mid__page {
  display: flex;
  height: 400px;
  align-content: center;
  width: 60%;
  margin: 0 auto;
  vertical-align: middle;
  border-left: 1px dotted #262749;
  border-right: 1px dashed #262749;
}
.mid__page__child {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.mid__page__child__title {
  padding-bottom: 10px;
}
.mid__page__childimg {
  display: flex;
  align-items: center;
}
.mid__page__child .fast {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  padding: 0 5px;
  margin: 0 auto;
}
.button {
  width: 60%;
  margin: 0 auto;
  height: 180px;
  position: relative;
  border-bottom: 1px dashed #262749;
}
.button__button {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 60px;
  background: #262749;
  color: white;
  font-weight: 900;
  border-radius: 10px;
  font-size: 3rem;
  border-color: #95813B;
}
.button__button:hover {
  background: white;
  color: #262749;
  font-weight: 900;
}
.footer {
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.footer__child {
  display: flex;
  flex-direction: column;
  width: 32%;
  justify-content: top;
  text-align: center;
}
.footer__child__title {
  font-size: 2rem;
}
.footer__child__link {
  text-decoration: none;
  color: #262749;
  font-size: 1.6rem;
}
.footer__child__link2 {
  margin: 5px 0;
}
.footer i {
  font-size: 5rem;
}
