.teamMembers {
    background-image: url('../images/blue-brick-wall-chair.jpg');
    padding-top: 80px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 25px;

    &__child {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        margin: 0 auto;
            
        @media @mobile {
            display: flex; 
            flex-direction: column; 
            width: 100%;
            margin: 0 auto;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            width: 45%;
            margin: 1%;
            border-radius: 10px;
            background-color: @dark-slate-gray;
            color: @white;

            @media @mobile {
                width: 90%;
            }
            
            &__img {
                width: 50%;
                border-radius: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin-top: 10px;
            }

            &__title {

            }

            &__p {
                margin-bottom: 10px;
            }
        }
    }
}

.title {
    background: @lighter-steel-blue;
    width: 100%;
    padding-top: 80px;
    height: 50px;
    margin: 0 auto;
    // width: 60%;
    text-align: center;
    // text-decoration: underline;

    @media @mobile {
        width: 100%;
        padding-top: 50px;
    }


    &__title {
        font-size: 6rem;
        color: @slate-gray;

        @media @mobile {
            width: 90%;
            font-size: 5rem;
            margin: 0 auto;
        }
    }
}


.last-card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    // width: 20%;
}