.footer {
    display: flex;
    margin: 0 auto;
    width: 60%;
    // border: 1px solid red;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

    &__child {
        display: flex;
        flex-direction: column;
        // border: 1px solid blue;
        width: 32%;
        justify-content: top;
        text-align: center;
        
        &__title {
            font-size: 2rem;
        }

        &__link {
            text-decoration: none;
            color: @dark-slate-gray;
            // margin: 1px 0;
            font-size: 1.6rem;

        }

        &__link2 {
            margin: 5px 0;
        }
    }

    i {
        font-size: 5rem;
    }
}