.footer {
    
    
    width: 100%;
    // border: 1px solid red;
   
    border-bottom: 1px dashed black;

    padding-top: 10px;
    margin-bottom: 20px;

    &__box {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        &__child {
            display: flex;
            flex-direction: column;
            // border: 1px solid blue;
            width: 32%;
            justify-content: top;
            text-align: center;
            
            &__title {
                font-size: 2rem;
            }
            
            &__link {
                text-decoration: none;
                color: @dark-slate-gray;
                // margin: 1px 0;
                font-size: 1.6rem;
                
            }
            
            &__link2 {
                margin: 5px 0;
            }
        }
    }

    i {
        font-size: 5rem;
    }
}