.header {
    background-image: url("../images/architecture-beautiful-exterior-106399.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 660px;
    background-size: 100%;


    &__text {
        font-size: 6rem;
    }
}