.header {
    background-image: url("../images/architecture-beautiful-exterior.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    // background-position: center;
    background-size: cover;
    // background-size: auto 1000px, auto;
    background-attachment: fixed;
    position: relative;
    // margin-top: 50px;
    background-position: center top, 50% 113%;

    @media @mobile {
        
    }

    &__text {
        font-size: 4.9rem;
        color: @white;
        position: absolute;
        top: 620px;
        left: 645px;

        @media @mobile {
            display: flex;
            text-align: center;
            // position: static;
            left: 0%; 
            // translateX(-50%);
            top: 250px;

        }
    }

    &__button {
        color: @white;
        position: absolute;
        top: 684px;
        left: 49%;
        transform: translateX(-50%);
        width: 250px;
        height: 60px;
        background: @white;
        color: @dark-slate-gray;
        font-weight: 900;
        border-radius: 10px;
        font-size: 3rem;
        border-color: @sienna;

        @media @mobile {
        
        }

        &:hover {
            background: @dark-slate-gray;
            color: white;
            cursor: pointer;
        }
    }
}