.mid__page {
    display: flex;
    height: 300px;
    align-content: center;
    width: 60%;
    margin: 0 auto;
    

    &__child {
        width: 45%;

        .fas {
            height: 50px;
            width: 50px;
        }

        
        &__p {

        }
    }
}

.yo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
    padding: 5px;
}