.nav {
    display: flex;
    justify-content: space-between;
    position: 0;
    background-color: @dark-slate-gray;
    height: 50px;
    text-align: center;
    align-items: center;

    &__child {
        

        &__link {
            font-size: 2rem;
            color: @white;
            padding: 0 5px;
            text-decoration: none;
            border: 1px solid @white;
            border-radius: 5px;
        }
    }
}