.nav {
    display: flex;
    justify-content: space-between;
    position: 0;
    background-color: @dark-slate-gray;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: fixed;
    z-index: 999;
    // width: 100%;
    margin-top: 0;
    width: 85%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 50%; 
    // top: 50%;
    transform: translateX(-50%);
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Nunito';
    color: white;
    fontSize: 30px;

    &__child1 {
        width: 195px;
        // border:1px solid white;
    }

    &__child {
        display: flex;
        justify-content: space-around;
        font-size: 4rem;
        text-align: center;
        vertical-align: middle;
        color: @white;
        
        &__name {
            font-size: 3.5rem;
        }
        // width: 40%;

        &__two {
            width: 40%;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }

        &__link {
            .a-tag();
           
        }
    }
}