.quotes {
    background-image: url('../images/blue-brick-wall-chair-1282315.jpg');
    background-repeat: no-repeat;
    border: 1px solid red;
    height: 400px;

    &__box {
        display: flex;
        width: 60%;
        margin: 0 auto; 
        justify-content: space-between;

        &__child {
            border: 1px solid black;
            height: 100px;
            justify-content: center;
            text-align: center;
            background: @lighter-steel-blue;
            width: 30%;
            height: 250px;

            &__p {

            }
        }
    }
}